.App {
  text-align: center;
}

#navbar {
  background-color: #f1f1f1 !important;
}

form {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

.image-review{
  max-width: 1000px;
}

#form-container {
  place-items: center;
  margin-top: 160px;
}

#sign-in-form {
  max-width: 400px;
}

#sign_in {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 160px;
}

#navbar {
  padding-left: 30px;
  padding-right: 30px;
}

#trails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo-img img {
  display: block;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 100px;
  width: 100px;
}

.nav-logo img {
  height: 50px;
  width: 50px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #483d8b !important;
  border-color: #483d8b !important;
}
.btn-primary:hover {
  background-color: #6c62ad !important;
}

.App video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Video {
  position: absolute;
  top: 0;
  z-index: -2;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #ffffff;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* CAROUSEL */
.carousel img {
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  min-height: 600px;
}

.carousel-item {
  height: 35rem;
}

.carousel-caption {
  position: absolute;
  top: 38%;
}

.carousel-caption h3 {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.carousel-caption p {
  background: rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* TRAIL CARDS */
.card-container {
  padding-top: 50px;
  display: flex;
}

/* .card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 25px;
} */

.animated-card:hover {
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  transform: scale(1.05);
}

.card-title {
  color: black;
}

.card-text {
  color: gray;
}

#page-card {
  color: rgb(255, 255, 255);
}

/* REVIEW CARDS */
.review-container {
  padding-top: 50px;
}

.carousel-container {
  overflow: true;
}

/* SEARCHBAR */
#searchbar {
  margin: auto;
}

.delete-btn {
  margin-right: 500px;
}

#delete{
  margin-left: 820px;
}
#delete-2{
  margin-left: 10px;
}





