.App {
  text-align: center;
}

#navbar {
  background-color: #f1f1f1 !important;
}

form {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

.image-review {
  max-width: 1000px;
}

#form-container {
  place-items: center;
  margin-top: 160px;
}

#sign-in-form {
  max-width: 400px;
}

#sign_in {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 160px;
}

.errors {
  color: red;
}

#navbar {
  padding-left: 30px;
  padding-right: 30px;
}

#trails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo-img img {
  display: block;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 100px;
  width: 100px;
}

.review-container{
  margin-right: 30px;
  
}

.nav-logo img {
  height: 50px;
  width: 50px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #483d8b !important;
  border-color: #483d8b !important;
}
.btn-primary:hover {
  background-color: #6c62ad !important;
}

.App video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Video {
  position: absolute;
  top: 0;
  z-index: -2;
}

/* The overlay effect - lays on top of the container and over the image */
.trail-image {
  margin-top:20px;
  margin-bottom:20px;
  width: 100%;
  min-height: 100px;
  object-fit: cover;
  min-height: 100px;
  height: 30rem;
}

/* .footer {
  background-color: rgb(235, 231, 231);
  width: 100%;
  height: 100px;
} */

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* CAROUSEL */
.carousel img {
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  min-height: 600px;
}

.carousel-item {
  height: 35rem;
}

.carousel-caption {
  position: absolute;
  top: 38%;
}

.carousel-caption h3 {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.carousel-caption p {
  background: rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* TRAIL CARDS */
.card-container {
  padding-top: 50px;
  display: flex;
}

/* .card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 25px;
} */


/* .card:hover { */

.animated-card:hover {

  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  /* transform: scale(.05); */
/* } */

.heart {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
}

.heart:hover {
  transform: scale(1.3);
}

.card-title {
  color: black;
}

.card-text {
  color: gray;
}

#page-card {
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

/* REVIEW CARDS */
.review-container {
  padding-top: 50px;
}

.carousel-container {
  overflow: true;
}

/* SEARCHBAR */
#searchbar {
  margin: auto;
}

.delete-btn {
  margin-right: 500px;
}

#delete {
  margin-left: 820px;
}
#delete-2 {
  margin-left: 10px;
}

.slick-prev {
  left: -3% !important;
  z-index: 1;
}
.slick-next {
  right: -3% !important;
  z-index: 1;
  size: 100px !important;
}


.hero-image {
  margin-top:80px;
  width: 100%;
  min-height: 100px;
  object-fit: cover;
  min-height: 100px;
  height: 50rem;
}

.footer {
  background-color: #f0ecec;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
}

.footer-logo img {
  height: 70px;
  width: 70px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #483d8b;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #483d8b;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #483d8b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #483d8b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #483d8b;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #483d8b;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #483d8b;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #483d8b;
}

.footer .menu {
  color: #483d8b;
  margin: 20px 0 12px;
  padding: 10;
  text-indent: 1.5px;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #6c62ad;
}

.footer .name {
  color: #483d8b;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}





.slick-prev:before,
.slick-next:before {
  color: black !important;
  size: 3rem !important;
}

